<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="2.0.0.0" id="trell">
 
  <author href="http://www.example.com/"
          rim:copyright="Copyright 1998-2012 My Corp">My Corp</author>
 
  <name>Trello</name>
 
  <description>
    A sample application to demonstrate some features.
  </description>
 
 
  <icon src="images/logo.png"/>
 
  <rim:splash src="splash-768x1280.png"/>
 
  <content src="index.html" rim:allowInvokeParams="true"/>
 
  <feature id="blackberry.ui.dialog"/>
   
  <feature id="blackberry.app.orientation">
    <param name="mode" value="portrait" />
  </feature>
 
  <access uri="https://trello.com" subdomains="true" />
  <access uri="https://ssl.google-analytics.com" subdomains="true" />
  <access uri="https://cloudfront.net" subdomains="true" />
   
</widget>
